NODE_ENV=development
PLATFORM_STARTER_IDENTITY=“platforms/worksync
PLATFORM_STARTER_NAME=“Platform Worksync Services”
APP_DATABASE_URL = mongodb://localhost:27017/aa_worksync_app?retryWrites=true&w=majority
LOG_DATABASE_URL = mongodb://localhost:27017/aa_worksync_log?retryWrites=true&w=majority
TEST_DATABASE_URL = mongodb://localhost:27017/aa_worksync_test?retryWrites=true&w=majority
PORT=3200
CRON_PORT=3800
CRON_SHOULD_RUN=true
SEEDER_SIZE=10
DEFAULT_PASSWORD=123456
PAGINATED_MAX_LIMIT=100
PAGINATED_DEFAULT_LIMIT=50
CLOUDINARY_SECRET=“”
CLOUDINARY_NAME=“”
CLOUDINARY_KEY=“”
REDIS_URL=redis://127.0.0.1:6379?ssl=false&abortConnect=False
REDIS_URL=redis://127.0.0.1:6379?ssl=false&abortConnect=False
SKIP_TEST=false
LOG_DELETE_DAYS=30
LOG_TO_DATABASE=true
ALLOW_DELETE_METHOD=true
ALLOW_DELETE_PATHS=api/v1/admins/data-logs/[A-Za-z0-9_-]+,api/v1/products/[A-Za-z0-9_-]+,api/v1/admins/products/[A-Za-z0-9_-]+,
TRACE_ADMIN_URL=“https://app.mailgun.com/”
PLATFORM_STARTER_ROTATION_DAYS=7
OFF_SESSION=true