NODE_ENV=development
PLATFORM_STARTER_IDENTITY=“platforms/yahel-pager
PLATFORM_STARTER_NAME=“Yahel pager Service”
APP_DATABASE_URL = mongodb://localhost:27017/yahel_pager_app?retryWrites=true&w=majority
LOG_DATABASE_URL = mongodb://localhost:27017/yahel_pager_log?retryWrites=true&w=majority
TEST_DATABASE_URL = mongodb://localhost:27017/yahel_pager_test?retryWrites=true&w=majority
PORT=4300
CRON_PORT=4800
CRON_SHOULD_RUN=true
SEEDER_SIZE=10
DEFAULT_PASSWORD=123456
PAGINATED_MAX_LIMIT=100
PAGINATED_DEFAULT_LIMIT=50
REDIS_URL=redis://127.0.0.1:6379?ssl=false&abortConnect=False
SKIP_TEST=false
LOG_DELETE_DAYS=30
LOG_TO_DATABASE=true
ALLOW_DELETE_METHOD=true
ALLOW_DELETE_PATHS=api/v1/admins/data-logs/[A-Za-z0-9_-]+,api/v1/products/[A-Za-z0-9_-]+,api/v1/admins/products/[A-Za-z0-9_-]+,
PLATFORM_STARTER_ROTATION_DAYS=7
OFF_SESSION=true
RATE_LIMIT_TTL=60000
RATE_LIMIT_REQUEST_SIZE=100
LOG_MODE=INLINE
KEY_GENERATOR=false
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
MAIL_GUN_API_KEY=
MAIL_GUN_DOMAIN=
MAIL_GUN_DEFAULT_EMAIL=
